<?php

$keyValues= [
    'RAZORPAY_KEY_ID' => "rzp_test_e23RPT6s2ojg9n",
    'RAZORPAY_KEY_SECRET' => "pWxM31ttoWmu7qOCdeKPvqvX",
    'RAZORPAY_CURRENCY' => "INR",
    'RAZORPAY_WEBHOOK_SECRET' => "r4ZVPgiYZYJdYRKSm4TRNEbIT40J4g8g",
    'ADDRESS_LINE_1' => "Avant SMS",
    'ADDRESS_LINE_2' => "Webrefiner Pvt Ltd",
    'ADDRESS_LINE_3' => "Guwahati, Assam, India 781001",
    'GST' => "18HAGTS5485RT",
    'LOGO' => "https://resources.ap-south-1.linodeobjects.com/logo.png",
    'FAST2SMS_URL' => "https://www.fast2sms.com/dev/bulkV2",
    'FAST2SMS_KEY' => "jQvTC3AO126q5l8yEHz9VrwbFRmDZfU0eP7ouihasSKXGIJtBWehCMnVdxa0P2XcAkDU7pfEGSmyvzqw",
];